.cinema {
  display: grid;
  grid-template-rows: 50px 40px;
}

.cinema__screen {
  display: block;
  height: 5px;
  width: 250px;
  margin: auto;
  background: #00445a;
}

.cinema__seats {
  display: grid;
  grid-template-rows: repeat(10, 25px);
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
}

@media screen and (min-width: 550px) {
  .cinema {
    width: 300px;
  }
}